@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3b77b9;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 35, 34, 58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 35, 34, 58;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar-btn-menu {
  color: lightgray;
}

.sidebar-btn-menu--active {
  color: var(--primary-color);
  border-right: 1px solid var(--primary-color);
}

.w-50 {
  width: 50%;
}